{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "plugins": ["prettier"],
  "extends": ["eslint:recommended", "plugin:react/recommended", "prettier"],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "modules": true,
      "jsx": true
    }
  },
  "rules": {
    "prettier/prettier": "error",
    "no-console": "off",
    "no-debugger": "off",
    "react/prop-types": "off"
  },
  "settings": {
    "react": {
      "version": "16.8"
    }
  }
}
